$primary-color: #956ab8;
$fancy: #e5bddf;
$FIYA-ROSE: #ff0077;
$soft-green: #dbf8c7;
$lime-green: #72b87b;
$bright-blue: #0080ff;
$cupric: #ae8645;
$l-greystone: #A6A6A6;
$greystone: #737373;
$black: #000000;
$white: #FFFFFF;

body {
    background-color: #737373;
    margin: 20px;
    padding: 20px;
    font-family: Georgia;
}

footer {
    background-color: $fancy;
}

h1 {
    color: $primary-color;
}

h3 {
    color: $fancy;
}

label {
    color: $greystone;
}

p {
    color: $greystone;
}

p::first-letter {
    color: $black;
    font-family: serif;
    font-size: 36px;
    line-height: 1;
    padding-top: 0.2em;
    padding-left: 0.1em;
    float: unset;
    margin-right: 0.02em;
}

span {
    color: $greystone;
}

th {
    color: $greystone;
}

.h3 {
    color: $primary-color;
}

#animal01 {
    width: 30%;
}

#animal02 {
    width: 30%;
}

#animal03 {
    width: 30%;
}

#animal04 {
    width: 50%;
}

#check-self {
    color: $FIYA-ROSE;
}

#columns {
    color: $bright-blue; 
}

#ex {
    color: $FIYA-ROSE;
}

#navbar-bg {
    background-color: $primary-color;
}

#navbar-brand {
    color: $bright-blue;
}

#second {
    color: $lime-green;
}

#welcome {
    color: $soft-green;
}
